# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually underperformed compared to schools with smaller budgets per student

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

# Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635
20,20,Lisa Davis,F,10th,Huang High School,91,89,0,District,2917,1910635
21,21,Kristen Lopez,F,10th,Huang High School,90,77,0,District,2917,1910635
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635
23,23,Christopher Parker,M,9th,Huang High School,81,68,0,District,2917,1910635
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635
25,25,Cesar Morris,M,9th,Huang High School,92,70,0,District,2917,1910635
26,26,Melanie Decker,F,9th,Huang High School,63,85,0,District,2917,1910635
27,27,Tracey Oconnor,F,10th,Huang High School,80,58,0,District,2917,1910635
28,28,Kelly James,F,11th,Huang High School,73,55,0,District,2917,1910635
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99,14,Charter,1635,1043130
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93,14,Charter,1635,1043130
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83,14,Charter,1635,1043130
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93,14,Charter,1635,1043130
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87,14,Charter,1635,1043130
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74,14,Charter,1635,1043130
39146,39146,Michael Carroll,M,9th,Thomas High School,69,95,14,Charter,1635,1043130
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81,14,Charter,1635,1043130
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89,14,Charter,1635,1043130
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93,14,Charter,1635,1043130
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75,14,Charter,1635,1043130
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73,14,Charter,1635,1043130
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,14,Charter,1635,1043130
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,14,Charter,1635,1043130
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71,14,Charter,1635,1043130
39155,39155,John Brooks,M,10th,Thomas High School,92,98,14,Charter,1635,1043130
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95,14,Charter,1635,1043130
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,14,Charter,1635,1043130
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90,14,Charter,1635,1043130
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72,14,Charter,1635,1043130
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86,14,Charter,1635,1043130
39161,39161,April Reyes,F,10th,Thomas High School,70,84,14,Charter,1635,1043130
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77,14,Charter,1635,1043130
39163,39163,John Reese,M,11th,Thomas High School,90,75,14,Charter,1635,1043130
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
# Use Map to format all the columns
# formats a number and converts to currency rounding to 2 dec points.
#.map("${:.2f}".format)
# formats a number and converts to number with , separations
#.map("{:,}".format)
# formats a number and rounding to 2 points.
#.map("{:.2f}".format)


total_school = school_data_complete["school_name"].nunique()
school_types = school_data_complete["type"].nunique()
total_students = school_data_complete["student_name"].nunique()
total_budget = "${:,.2f}".format(school_data_complete["budget"].sum())
average_ms = school_data_complete["math_score"].mean()
average_rs = school_data_complete["reading_score"].mean()
average_pr = (average_ms + average_rs) / 2
perc_pass_ms = len(school_data_complete.loc[school_data_complete["math_score"] >= 70])/total_students
perc_pass_rs = len(school_data_complete.loc[school_data_complete["reading_score"] >= 70])/total_students

# Make the dataframe
dist_df = pd.DataFrame([{'Total Schools': total_school,
                        'School Types': school_types,
                        'Total Students': total_students,
                        'Total Budget': total_budget,
                        'Average Math Score': average_ms,                       
                        'Average Reading Score': average_rs,  
                        'Overall Pass Rate': average_pr,  
                        '% of Students Math Score Above 70': perc_pass_ms,
                        '% of Students Reading Score Above 70': perc_pass_rs
                        }])


All_schools_df = dist_df[["Total Schools","School Types","Total Students","Total Budget","Average Math Score", "Average Reading Score", "Overall Pass Rate", "% of Students Math Score Above 70", "% of Students Reading Score Above 70"]]
All_schools_df

,Total Schools,School Types,Total Students,Total Budget,Average Math Score,Average Reading Score,Overall Pass Rate,% of Students Math Score Above 70,% of Students Reading Score Above 70
0,15,2,32715,"$82,932,329,558.00",78.985371,81.87784,80.431606,0.897753,1.027357

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [4]:
pass_ms = school_data_complete.loc[school_data_complete["math_score"] >= 70]
pass_rs = school_data_complete.loc[school_data_complete["reading_score"] >= 70]

by_school_pms = pass_ms.groupby('school_name').agg({'math_score':'count'})
by_school_prs = pass_rs.groupby('school_name').agg({'reading_score':'count'})

In [5]:
#School Name
#School Type

by_school_df = school_data_complete.groupby(['school_name','type']).agg(
    {'student_name':'count','budget':'sum','math_score':'mean','reading_score':'mean'})

by_school_df['student budget'] = by_school_df['budget']/by_school_df['student_name']
by_school_df

,,student_name,budget,math_score,reading_score,student budget
school_name,type,,,,,
Bailey High School,District,4976,15549641728,77.048432,81.033963,3124928.0
Cabrera High School,Charter,1858,2009159448,83.061895,83.975780,1081356.0
Figueroa High School,District,2949,5557128039,76.711767,81.158020,1884411.0
Ford High School,District,2739,4831365924,77.102592,80.746258,1763916.0
Griffin High School,Charter,1468,1346890000,83.351499,83.816757,917500.0
Hernandez High School,District,4635,14007062700,77.289752,80.934412,3022020.0
Holden High School,Charter,427,105933149,83.803279,83.814988,248087.0
Huang High School,District,2917,5573322295,76.629414,81.182722,1910635.0
Johnson High School,District,4761,14733628650,77.072464,80.966394,3094650.0
Pena High School,Charter,962,563595396,83.839917,84.044699,585858.0
Rodriguez High School,District,3999,10186904637,76.842711,80.744686,2547363.0
Shelton High School,Charter,1761,1860672600,83.359455,83.725724,1056600.0
Thomas High School,Charter,1635,1705517550,83.418349,83.848930,1043130.0
Wilson High School,Charter,2283,3012587442,83.274201,83.989488,1319574.0
Wright High School,Charter,1800,1888920000,83.682222,83.955000,1049400.0

In [6]:
pass_ms = school_data_complete.loc[school_data_complete["math_score"] >= 70]
pass_rs = school_data_complete.loc[school_data_complete["reading_score"] >= 70]

by_school_pms = pass_ms.groupby(['school_name','type']).agg({'math_score':'count'})
by_school_prs = pass_rs.groupby(['school_name','type']).agg({'reading_score':'count'})

pass_score_merged = pd.merge(by_school_pms, by_school_prs, on=['school_name','type'], how='outer')

pass_score_merged

                                math_score  reading_score
school_name           type
Bailey High School    District        3318           4077
Cabrera High School   Charter         1749           1803
Figueroa High School  District        1946           2381
Ford High School      District        1871           2172
Griffin High School   Charter         1371           1426
Hernandez High School District        3094           3748
Holden High School    Charter          395            411
Huang High School     District        1916           2372
Johnson High School   District        3145           3867
Pena High School      Charter          910            923
Rodriguez High School District        2654           3208
Shelton High School   Charter         1653           1688
Thomas High School    Charter         1525           1591
Wilson High School    Charter         2143           2204
Wright High School    Charter         1680           1739

In [7]:
summarized = pd.merge(by_school_df, pass_score_merged, on=['school_name','type'], how='outer')

In [8]:
summarized['% Passing Math'] = summarized['math_score_y']/summarized['student_name'] 
summarized['% Passing Reading'] = summarized['reading_score_y']/summarized['student_name']
summarized['% Passing'] = (summarized['% Passing Math']  + summarized['% Passing Reading'])  / 2

summarized = summarized.rename(columns={"type": "School Type",
                                        "student_name": "Total_Students", 
                                        "budget": "Total_Budget",
                                        "math_score_x": "Average Math Score",
                                        "reading_score_x": "Average Reading Score", 
                                        "student budget": "Budget per Student", 
                                        "math_score_y": "Passing Math",
                                        "reading_score_y": "Passing Reading"})

summarized

,,Total_Students,Total_Budget,Average Math Score,Average Reading Score,Budget per Student,Passing Math,Passing Reading,% Passing Math,% Passing Reading,% Passing
school_name,type,,,,,,,,,,
Bailey High School,District,4976,15549641728,77.048432,81.033963,3124928.0,3318,4077,0.666801,0.819333,0.743067
Cabrera High School,Charter,1858,2009159448,83.061895,83.975780,1081356.0,1749,1803,0.941335,0.970398,0.955867
Figueroa High School,District,2949,5557128039,76.711767,81.158020,1884411.0,1946,2381,0.659885,0.807392,0.733639
Ford High School,District,2739,4831365924,77.102592,80.746258,1763916.0,1871,2172,0.683096,0.792990,0.738043
Griffin High School,Charter,1468,1346890000,83.351499,83.816757,917500.0,1371,1426,0.933924,0.971390,0.952657
Hernandez High School,District,4635,14007062700,77.289752,80.934412,3022020.0,3094,3748,0.667530,0.808630,0.738080
Holden High School,Charter,427,105933149,83.803279,83.814988,248087.0,395,411,0.925059,0.962529,0.943794
Huang High School,District,2917,5573322295,76.629414,81.182722,1910635.0,1916,2372,0.656839,0.813164,0.735002
Johnson High School,District,4761,14733628650,77.072464,80.966394,3094650.0,3145,3867,0.660576,0.812224,0.736400
Pena High School,Charter,962,563595396,83.839917,84.044699,585858.0,910,923,0.945946,0.959459,0.952703
Rodriguez High School,District,3999,10186904637,76.842711,80.744686,2547363.0,2654,3208,0.663666,0.802201,0.732933
Shelton High School,Charter,1761,1860672600,83.359455,83.725724,1056600.0,1653,1688,0.938671,0.958546,0.948609
Thomas High School,Charter,1635,1705517550,83.418349,83.848930,1043130.0,1525,1591,0.932722,0.973089,0.952905
Wilson High School,Charter,2283,3012587442,83.274201,83.989488,1319574.0,2143,2204,0.938677,0.965396,0.952037
Wright High School,Charter,1800,1888920000,83.682222,83.955000,1049400.0,1680,1739,0.933333,0.966111,0.949722

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [9]:
# Sorting the DataFrame based on "Top 5 Schools" column
# Will sort from lowest to highest if no other parameter is passed
top5_df = summarized.sort_values("% Passing", ascending=False)
top5_df.head(5)

,,Total_Students,Total_Budget,Average Math Score,Average Reading Score,Budget per Student,Passing Math,Passing Reading,% Passing Math,% Passing Reading,% Passing
school_name,type,,,,,,,,,,
Cabrera High School,Charter,1858,2009159448,83.061895,83.975780,1081356.0,1749,1803,0.941335,0.970398,0.955867
Thomas High School,Charter,1635,1705517550,83.418349,83.848930,1043130.0,1525,1591,0.932722,0.973089,0.952905
Pena High School,Charter,962,563595396,83.839917,84.044699,585858.0,910,923,0.945946,0.959459,0.952703
Griffin High School,Charter,1468,1346890000,83.351499,83.816757,917500.0,1371,1426,0.933924,0.971390,0.952657
Wilson High School,Charter,2283,3012587442,83.274201,83.989488,1319574.0,2143,2204,0.938677,0.965396,0.952037

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [10]:
# Sorting the DataFrame based on "Bottom 5 Schools" column
# Will sort from lowest to highest if no other parameter is passed
bottom5_df = summarized.sort_values("% Passing")
bottom5_df = bottom5_df.reset_index(drop=True)
bottom5_df.head(5)

,Total_Students,Total_Budget,Average Math Score,Average Reading Score,Budget per Student,Passing Math,Passing Reading,% Passing Math,% Passing Reading,% Passing
0,3999,10186904637,76.842711,80.744686,2547363.0,2654,3208,0.663666,0.802201,0.732933
1,2949,5557128039,76.711767,81.158020,1884411.0,1946,2381,0.659885,0.807392,0.733639
2,2917,5573322295,76.629414,81.182722,1910635.0,1916,2372,0.656839,0.813164,0.735002
3,4761,14733628650,77.072464,80.966394,3094650.0,3145,3867,0.660576,0.812224,0.736400
4,2739,4831365924,77.102592,80.746258,1763916.0,1871,2172,0.683096,0.792990,0.738043

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [11]:
nineth = school_data_complete[(school_data_complete["grade"]=="9th")]
tenth = school_data_complete[(school_data_complete["grade"]=="10th")]
elevth = school_data_complete[(school_data_complete["grade"]=="11th")]
twelth = school_data_complete[(school_data_complete["grade"]=="12th")]

# group by 
by_school_9th = nineth.groupby('school_name').agg(
    {'math_score':'mean'})
by_school_10th = tenth.groupby('school_name').agg(
    {'math_score':'mean'})
by_school_11th = elevth.groupby('school_name').agg(
    {'math_score':'mean'})
by_school_12th = twelth.groupby('school_name').agg(
    {'math_score':'mean'})

## Combine the series by using merge - use suffix so you dont have to rename

m9and10 = pd.merge(by_school_9th, by_school_10th, on='school_name', how='outer', suffixes =('_9th', '_10th'))
m11and12 = pd.merge(by_school_11th, by_school_12th, on='school_name', how='outer', suffixes =('_11th', '_12th'))

m9and12 = pd.merge(m9and10, m11and12, on='school_name', how='outer')
m9and12

,math_score_9th,math_score_10th,math_score_11th,math_score_12th
school_name,,,,
Bailey High School,77.083676,76.996772,77.515588,76.492218
Cabrera High School,83.094697,83.154506,82.765560,83.277487
Figueroa High School,76.403037,76.539974,76.884344,77.151369
Ford High School,77.361345,77.672316,76.918058,76.179963
Griffin High School,82.044010,84.229064,83.842105,83.356164
Hernandez High School,77.438495,77.337408,77.136029,77.186567
Holden High School,83.787402,83.429825,85.000000,82.855422
Huang High School,77.027251,75.908735,76.446602,77.225641
Johnson High School,77.187857,76.691117,77.491653,76.863248
Pena High School,83.625455,83.372000,84.328125,84.121547
Rodriguez High School,76.859966,76.612500,76.395626,77.690748
Shelton High School,83.420755,82.917411,83.383495,83.778976
Thomas High School,83.590022,83.087886,83.498795,83.497041
Wilson High School,83.085578,83.724422,83.195326,83.035794
Wright High School,83.264706,84.010288,83.836782,83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [12]:
# group by 
by_school_9th = nineth.groupby('school_name').agg(
    {'reading_score':'mean'})
by_school_10th = tenth.groupby('school_name').agg(
    {'reading_score':'mean'})
by_school_11th = elevth.groupby('school_name').agg(
    {'reading_score':'mean'})
by_school_12th = twelth.groupby('school_name').agg(
    {'reading_score':'mean'})

## Combine the series by using merge - use suffix so you dont have to rename

r9and10 = pd.merge(by_school_9th, by_school_10th, on='school_name', how='outer', suffixes =('_9th', '_10th'))
r11and12 = pd.merge(by_school_11th, by_school_12th, on='school_name', how='outer', suffixes =('_11th', '_12th'))

r9and12 = pd.merge(r9and10, r11and12, on='school_name', how='outer')
r9and12

,reading_score_9th,reading_score_10th,reading_score_11th,reading_score_12th
school_name,,,,
Bailey High School,81.303155,80.907183,80.945643,80.912451
Cabrera High School,83.676136,84.253219,83.788382,84.287958
Figueroa High School,81.198598,81.408912,80.640339,81.384863
Ford High School,80.632653,81.262712,80.403642,80.662338
Griffin High School,83.369193,83.706897,84.288089,84.013699
Hernandez High School,80.866860,80.660147,81.396140,80.857143
Holden High School,83.677165,83.324561,83.815534,84.698795
Huang High School,81.290284,81.512386,81.417476,80.305983
Johnson High School,81.260714,80.773431,80.616027,81.227564
Pena High School,83.807273,83.612000,84.335938,84.591160
Rodriguez High School,80.993127,80.629808,80.864811,80.376426
Shelton High School,84.122642,83.441964,84.373786,82.781671
Thomas High School,83.728850,84.254157,83.585542,83.831361
Wilson High School,83.939778,84.021452,83.764608,84.317673
Wright High School,83.833333,83.812757,84.156322,84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [13]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 500000, 1000000, 2000000, 10000000]
group_names = ["<$500K", "$500K-1M", "$1M-2M", "$2M-10M"]

In [14]:
summarized["Scores by Spend"] = pd.cut(summarized["Budget per Student"], spending_bins, labels=group_names)
score_by_school = pd.DataFrame({"Average Math Score": summarized["Average Math Score"],
                           "Average Reading Score": summarized["Average Reading Score"],
                           "% Passing Math": summarized["% Passing Math"],
                           "% Passing Reading": summarized["% Passing Reading"],
                           "Overall Passing Rate": summarized["% Passing"],
                           "Scores by Spend": summarized["Scores by Spend"]})

score_by_school

,,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate,Scores by Spend
school_name,type,,,,,,
Bailey High School,District,77.048432,81.033963,0.666801,0.819333,0.743067,$2M-10M
Cabrera High School,Charter,83.061895,83.975780,0.941335,0.970398,0.955867,$1M-2M
Figueroa High School,District,76.711767,81.158020,0.659885,0.807392,0.733639,$1M-2M
Ford High School,District,77.102592,80.746258,0.683096,0.792990,0.738043,$1M-2M
Griffin High School,Charter,83.351499,83.816757,0.933924,0.971390,0.952657,$500K-1M
Hernandez High School,District,77.289752,80.934412,0.667530,0.808630,0.738080,$2M-10M
Holden High School,Charter,83.803279,83.814988,0.925059,0.962529,0.943794,<$500K
Huang High School,District,76.629414,81.182722,0.656839,0.813164,0.735002,$1M-2M
Johnson High School,District,77.072464,80.966394,0.660576,0.812224,0.736400,$2M-10M
Pena High School,Charter,83.839917,84.044699,0.945946,0.959459,0.952703,$500K-1M
Rodriguez High School,District,76.842711,80.744686,0.663666,0.802201,0.732933,$2M-10M
Shelton High School,Charter,83.359455,83.725724,0.938671,0.958546,0.948609,$1M-2M
Thomas High School,Charter,83.418349,83.848930,0.932722,0.973089,0.952905,$1M-2M
Wilson High School,Charter,83.274201,83.989488,0.938677,0.965396,0.952037,$1M-2M
Wright High School,Charter,83.682222,83.955000,0.933333,0.966111,0.949722,$1M-2M

## Scores by School Size

* Perform the same operations as above, based on school size.

In [15]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [16]:
summarized["Scores by Size"] = pd.cut(summarized["Total_Students"], size_bins, labels=group_names)

score_by_size = pd.DataFrame({"Average Math Score": summarized["Average Math Score"],
                           "Average Reading Score": summarized["Average Reading Score"],
                           "% Passing Math": summarized["% Passing Math"],
                           "% Passing Reading": summarized["% Passing Reading"],
                           "Overall Passing Rate": summarized["% Passing"],
                           "Scores by Size": summarized["Scores by Size"]})

score_by_size

,,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate,Scores by Size
school_name,type,,,,,,
Bailey High School,District,77.048432,81.033963,0.666801,0.819333,0.743067,Large (2000-5000)
Cabrera High School,Charter,83.061895,83.975780,0.941335,0.970398,0.955867,Medium (1000-2000)
Figueroa High School,District,76.711767,81.158020,0.659885,0.807392,0.733639,Large (2000-5000)
Ford High School,District,77.102592,80.746258,0.683096,0.792990,0.738043,Large (2000-5000)
Griffin High School,Charter,83.351499,83.816757,0.933924,0.971390,0.952657,Medium (1000-2000)
Hernandez High School,District,77.289752,80.934412,0.667530,0.808630,0.738080,Large (2000-5000)
Holden High School,Charter,83.803279,83.814988,0.925059,0.962529,0.943794,Small (<1000)
Huang High School,District,76.629414,81.182722,0.656839,0.813164,0.735002,Large (2000-5000)
Johnson High School,District,77.072464,80.966394,0.660576,0.812224,0.736400,Large (2000-5000)
Pena High School,Charter,83.839917,84.044699,0.945946,0.959459,0.952703,Small (<1000)
Rodriguez High School,District,76.842711,80.744686,0.663666,0.802201,0.732933,Large (2000-5000)
Shelton High School,Charter,83.359455,83.725724,0.938671,0.958546,0.948609,Medium (1000-2000)
Thomas High School,Charter,83.418349,83.848930,0.932722,0.973089,0.952905,Medium (1000-2000)
Wilson High School,Charter,83.274201,83.989488,0.938677,0.965396,0.952037,Large (2000-5000)
Wright High School,Charter,83.682222,83.955000,0.933333,0.966111,0.949722,Medium (1000-2000)

## Scores by School Type

* Perform the same operations as above, based on school type.

In [29]:
by_school_type = summarized.groupby('type').agg(
    {'Average Math Score':'mean', 'Average Reading Score':'mean','% Passing Math':'mean','% Passing Reading':'mean','% Passing':'mean'})
by_school_type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing
type,,,,,
Charter,83.473852,83.896421,0.936208,0.965865,0.951037
District,76.956733,80.966636,0.665485,0.807991,0.736738